<!--see this blog post for explanation on the resizing employed below https://www.zoaibkhan.com/blog/create-a-responsive-card-grid-in-angular-using-flex-layout-part-1/-->
<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="33%" *ngFor="let num of [1,2,3]">
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Doggo {{num}}</mat-card-title>
        </mat-card-header>
        <img
          mat-card-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        />
        <mat-card-content>
          <p>The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.</p>
        </mat-card-content>
<!--        <mat-card-actions>-->
<!--          <button mat-button>LIKE</button>-->
<!--          <button mat-button>SHARE</button>-->
<!--        </mat-card-actions>-->
      </mat-card>
    </div>
  </div>
</div>
