<h1>{{title}}</h1>
<nav>
  <a routerLink="/home">Home</a>
  <button mat-flat-button color="accent" [matMenuTriggerFor]="menu">Store</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/store">Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>
  <a routerLink="/subscribe">Subscribe</a>
  <a routerLink="/checkout">Checkout</a>
  <a routerLink="/blog">Blog</a>
</nav>
<!--<mat-slide-toggle>Toggle me!</mat-slide-toggle>-->


<router-outlet></router-outlet>
