<div id="pagegrid">
  <div id="areaA">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">

      <div fxFlex="48%">
<!--        TODO need vertical padding-->
        <mat-card class="mat-elevation-z4">
          <mat-card-header>
            <mat-card-title>FREE TRIAL VIA FITBIT</mat-card-title>
          </mat-card-header>
          <img
            mat-card-image
            src="/assets/fightmilk-tee.jpg"
          />
          <mat-card-content>
            <p>The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-stroked-button color="accent">SIGN UP</button>
            <button mat-fab>
              <mat-icon>favorite</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div fxFlex="48%">
        <mat-card class="mat-elevation-z4">
          <mat-card-header>
            <mat-card-title>SIGNIN WITH CROSSFIT</mat-card-title>
          </mat-card-header>
          <img
            mat-card-image
            src="/assets/fightmilk-tee.jpg"
          />
          <mat-card-content>
            <p>The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-stroked-button color="accent">SIGN UP</button>
            <button mat-fab>
              <mat-icon>favorite</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div> <!--    end of internal flex div that displays 2 cards-->
  </div> <!--  end of lhs 60% of page division-->
  <div id="sidebar">
    <div fxLayout="row wrap" >
      <div fxFlex="100%" class="signup">





<!--below is a fancier way of including a password field-->
<!--          <mat-form-field class="example-full-width">-->
<!--            <mat-label>create password: must be 8 chars long with a symbol and number</mat-label>-->
<!--            <input matInput formControlName="password" name="password" [type]="hide ? 'password' : 'text'">-->
<!--            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">-->
<!--              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>-->
<!--            </button>-->
<!--            <mat-error></mat-error>-->
<!--          </mat-form-field>-->



        <form class="example-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

              <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" name="email" type="email">
                   <mat-error *ngIf="registerForm.controls['email'].errors?.['required']">
                    Email is <strong>required</strong>
                  </mat-error>
                  <mat-error *ngIf="registerForm.controls['email'].errors?.['email']">
                    Please enter a valid email address
                  </mat-error>
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" name="password" type="password">
                <mat-error *ngIf="registerForm.controls['password'].errors?.['pattern']">Password must be a combination of lower-case, upper-case, numbers and at least 9 characters long</mat-error>
                <!--^ angular 14+ way of form validation-->
              </mat-form-field>

<!--              <mat-form-field class="example-full-width">-->
<!--                <mat-label>Confirm Password</mat-label>-->
<!--                <input matInput formControlName="confirmPassword" name="confirmPassword" type="password">-->
<!--                <mat-error *ngIf="registerForm.value.confirmPassword">Passwords do not match.</mat-error>-->
<!--              </mat-form-field>-->

              <button mat-stroked-button color="primary" type="submit" [disabled]="!registerForm.valid">Sign In<mat-icon>chevron_right</mat-icon></button>

        </form>
      </div> <!-- end sign up div-->
      <div fxFlex="100%" class="members-area">
        <mat-grid-list cols="2" rowHeight="2:1">
          <mat-grid-tile>Blog Post 1</mat-grid-tile>
          <mat-grid-tile>Blog Post 2</mat-grid-tile>
          <mat-grid-tile>Blog Post 3</mat-grid-tile>
          <mat-grid-tile>Blog Post 4</mat-grid-tile>
        </mat-grid-list>
      </div>



    </div>
  </div>
</div>
