.sidebar {
  background: lightgreen;
  /*font-weight: bold;*/
}
.internalMatGrid{
  border:1px solid red;
  min-width:95%;
  min-height: 95%;
  /* this min-width feels like a hack,
  it breaks unless rowheight is ratio 3:1
  got it from here https://www.appsloveworld.com/angular/100/30/how-can-i-have-nested-grid-lists-in-angular-material?utm_content=cmp-true*/
  /*font-weight: bold;*/
}

.fitbit {
 background: lightpink;
}

.crossfit {
  background: #DDBDF1;
}
