<div class="pagegrid">

  <div class="areaA">

    <h2>Blog Title</h2>
    <img src="../../assets/header_imgs/1.png" style="width:65%;height:65%; vertical-align: middle"/>
    <div>


      Lorem ipsum dolor sit amet. Qui tempora quisquam sed aliquid consequatur et modi velit et nesciunt quidem et quasi beatae et maiores veritatis! Qui dolor aspernatur quo adipisci assumenda ex facere dolorum sit nobis dolore vel consectetur inventore qui voluptates voluptas eum illum similique. Quo vitae omnis aut ullam sunt et cumque rerum id molestias magni id nobis enim et quia rerum.

      Vel enim magnam qui maiores deserunt ut accusantium omnis qui modi minima ea reiciendis minus qui eligendi quia. Sit eveniet exercitationem hic quae internos quo consectetur explicabo.

      Quo accusamus minima ut pariatur sunt vel rerum quidem qui laudantium nisi est recusandae incidunt 33 delectus aperiam. Est rerum quia est dolore obcaecati aut dolores deleniti sed omnis animi sed ducimus pariatur in distinctio odio?

    </div>

  </div>


  <div class="blogsidebar">

    <div fxLayout="column wrap" fxLayoutAlign="space-around center" fxLayoutGap="6%">
      <div fxFlex="30%" *ngFor="let num of [1,2,3]">
        <mat-card class="mat-elevation-z4">
          <mat-card-header>
            <mat-card-title>Blog {{num}}</mat-card-title>
          </mat-card-header>

          <mat-card-content>
            <p>Lorem ipsum dolor sit amet. Qui tempora quisquam sed aliquid consequatur et modi velit et nesciunt quidem et quasi beatae ....</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

  </div>

</div>
